<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Bütçe Meydan Okuması</h5>
                <p class="card-text">Günlük harcamalarınızı yönetin ve bütçenizi dengeleyin.</p>
                <a href="{% url 'game_app:budget_challenge' %}" class="btn btn-primary">Oyna</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Yatırım Simülatörü</h5>
                <p class="card-text">Farklı yatırım stratejilerini deneyin ve sonuçları görün.</p>
                <a href="{% url 'game_app:investment_simulator' %}" class="btn btn-primary">Oyna</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Ticaretin İzinde</h5>
                <p class="card-text">Tarihi İpek Yolu'nda ticaret yapın ve zenginleşin.</p>
                <a href="{% url 'game_app:trade_trail' %}" class="btn btn-primary">Oyna</a>
            </div>
        </div>
    </div>
</div> 