[Unit]
Description=FinAsis Gunicorn Service
After=network.target

[Service]
User=finasis
Group=www-data
WorkingDirectory=/var/www/finasis
Environment="PATH=/var/www/finasis/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=FinAsis.settings"
ExecStart=/var/www/finasis/venv/bin/gunicorn FinAsis.wsgi:application \
    --name finasis \
    --workers 3 \
    --bind unix:/run/finasis.sock \
    --log-level=info \
    --log-file=/var/log/finasis/gunicorn.log \
    --access-logfile=/var/log/finasis/access.log \
    --error-logfile=/var/log/finasis/error.log \
    --capture-output

[Install]
WantedBy=multi-user.target
