{% extends "core_ui/base.html" %}
{% load i18n %}
{% load static %}

{% block body_class %}finance-module{% endblock %}

{% block extra_css %}
<link href="{% static 'css/modules/finance.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center mb-3">
        <div class="col-md-6">
            <h1 class="h3 mb-0">{% trans "Finans Yönetimi" %}</h1>
        </div>
        <div class="col-md-6">
            <div class="quick-stats float-md-end">
                {% include "finance/components/quick_stats.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% include "finance/components/sidebar.html" %}
        </div>
        <div class="col-md-9">
            {% block finance_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
